name: Well-Architected Compliance

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  checkov:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run Checkov
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: ./terraform
          config_file: .checkov.yaml
          quiet: true
          framework: terraform
